PORT=3000
SUPABASE_URL=*****
SUPABASE_ANON_KEY=*****
AI_PROVIDER=*****
AI_API_KEY=*****
OPENAI_API_KEY=*****
GEMINI_API_KEY=*****
GEMINI_MODEL=gemini-2.5-flash
GROQ_API_KEY=*****
KAKAO_MAPS_API_KEY=*****
WEATHER_API_KEY=*****
TOURAPI_KEY=*****
UNSPLASH_ACCESS_KEY=*****
