PORT=3000
NODE_ENV=development

# Supabase 설정
SUPABASE_URL=****
SUPABASE_ANON_KEY=****

# 공공데이터포털 API Keys (인코딩/디코딩 상태에 따라 확인 필요)
TOUR_API_KEY=****
WEATHER_API_KEY=****

# 교통 API (예: ODsay 또는 국토부 대중교통 API 키)
TRANSPORT_API_KEY=****

# 랜덤 이미지 API
PEXELS_API_KEY=****

# 오픈 AI API
GROQ_API_KEY=**** 